body{
margin: 0;
font-family:'Ubuntu', 'Trebuchet MS', Arial, sans-serif;
background-color: white;
color: black;
}
main{
  margin: 5px;
  text-align: center;
}
main form{
  margin-top: 5vh;
}
main form input{
  margin: 1vh;
}
main ul li{
  margin-inline: 40%;
  text-align: justify;
}
input{
  background-color: white;
  border-color:dimgray;
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
}
textarea {
  resize: none;
}
.button{
  padding: 0.5vh;
  padding-inline: 1.5vw;
  font-size: medium;
  font-family:'Ubuntu', 'Trebuchet MS', Arial, sans-serif;
}
.smallText{
  font-size: small;
}
.smallText a{
  color:black;
}


nav{
  background-color: dodgerblue;
  color: white;
  display: float;
  font-size: medium;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

nav ul li {
  float: left;
  padding-inline: 0.5vw;
  float: center;
  margin: 1vh;
}
nav ul li a{
text-decoration: none;
color: white;
font-weight: bold;
}
.rightNav{
  float: right;
}